.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }
  
  .app-footer {
    background-color: #333;
    color: rgb(212, 186, 186);
    text-align: center;
    padding: 1rem;
  }